<%- include('includes/header') %>
<%- include('includes/menu') %>
    <main class="main page-section">
        <div class="site-content">
            <% posts.forEach(post =>{ %>
                <div class="post-preview">
                    <h2 class="post-preview__title"><%= post.title %></h2>
                    <div class="post-preview__meta"><span><strong>Post Author:</strong> <%= post.author %></span><span><strong>Created:</strong> <%= post.date_created %></span></div>
                    <p class="post-preview__snippet">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis nulla blanditiis 
                        porro officiis harum doloribus sapiente nostrum minima pariatur repudiandae
                    <a href="/posts/<%= post.pid %>">...Read More</a></p>
                </div>
            <% }) %>
        </div>
    </main>
    <%- include('includes/footer') %>