<%- include('includes/header') %>
<%- include('includes/menu') %>
<main class="main">
    <div class="site-content">
        
    <header class="entry-header page-section">
            <h1 class="entry-header__title"><%= post.title %></h1>
            <span class="entry-header__meta"><%= post.date_created %></span><span class="entry-header__meta">In Self Improvement</span>
    </header>
    <article class="entry-body page-section">
        <%= post.body %>
     </article>
    </div>
</main>
<%- include('includes/footer') %>